.logo {
    grid-area: logo;
}

.main-menu {
    grid-area: menu;
}

.content-area {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

.sponsors-wrapper {
    grid-area: sponsors;
}

.foote {
    grid-area: footer;
}

.container {
    display: grid;
    margin: 0 2rem;
    grid-template-columns: 2fr 6fr 4fr;
    grid-gap: 2rem 1rem;
}